#main {
  .build {
    padding: 0;
    a {
      display: block;
      padding: 2em 0;
      -webkit-transition: background-color 250ms;
      -moz-transition: background-color 250ms;
      -o-transition: background-color 250ms;
      transition: background-color 250ms;
    }

    &.pass {
      a {
        background-color: rgba(0, 160, 0, 0.15);
      }
      a:hover {
        background-color: rgba(0, 160, 0, 0.25);
      }
    }
    &.fail{
      a {
        background-color: rgba(255, 0, 0, 0.15);
      }
      a:hover {
        background-color: rgba(255, 0, 0, 0.25);
      }
    }
  }
}



