<div class="row" id="details">
  <div class="col-xs-12">
    <a href="#/" class="text-muted">
      <i class="fa fa-angle-left"></i> back to suites
    </a>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Suite</th>
        <th class="text-center">
          <small>
            Fri <br />
            Oct-31 <br />
            <span class="text-muted">
              Today <i class="fa fa-calendar"></i>
            </span>
          </small>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="spec in singleSuiteResults" class="text-center">
        <td>{{ spec.specName }}</td>
        <td ng-repeat="build in suite.builds" class="{{ build.status }}">
          <a ng-href="#/{{ build.id }}">
            <!-- FAILURE INFO -->
            <div ng-if="build.status === 'fail'">
              <span class="label label-success">{{ build.totalPasses }}</span>
              <span class="label label-danger">{{ build.totalFails }}</span>
              <span class="label label-default">{{ build.totalSpecs }}</span>
            </div>
            <!-- SUCCESS INFO -->
            <div ng-if="build.status === 'pass'">
              <span class="text-success">
                {{ build.totalSpecs }}
              </span>
            </div>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
