#details {
  .spec {
    padding: 2em 0;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;

    &.pass {
      background-color: rgba(0, 160, 0, 0.15);

      &:hover {
        background-color: rgba(0, 160, 0, 0.25);
      }
    }
    &.fail{
      background-color: rgba(255, 0, 0, 0.15);
      &:hover {
        background-color: rgba(255, 0, 0, 0.25);
      }
    }
  }
}
